{% extends "user_base.html" %}
{% load static %}

{% block page_title %}
    تغییر رمز عبور
{% endblock %}

{% block content %}
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <h2 style="margin-bottom: 30px; color: #40874f">تغییر رمز عبور</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="floating-input form-group">
                    <label for="old_pass">رمز عبور فعلی</label>
                    <input type="password" class="form-control" name="old_pass" placeholder="رمز عبور فعلی">
                </div>
                <br>
                <div class="floating-input form-group">
                    <label for="new_pass">رمز عبور جدید</label>
                    <input type="password" class="form-control" name="new_pass" placeholder="رمز عبور جدید">
                </div>
                <div class="floating-input form-group">
                    <label for="new_pass2">تکرار رمز عبور جدید</label>
                    <input type="password" class="form-control" name="new_pass2" placeholder="تکرار رمز عبور جدید">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-lg"
                            style="background-color: #40874f; border-color: #40874f">
                        تغییر رمز عبور
                    </button>
                </div>
            </form>
        </div>
        {% if error.empty_field %}
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">
                    {{ error.empty_field }}
                </div>
            </div>
        {% endif %}
        {% if error.password %}
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">
                    {{ error.password }}
                </div>
            </div>
        {% endif %}
        {% if error.new_pass %}
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">
                    {{ error.new_pass }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}