{% extends "user_base.html" %}
{% load static %}

{% block page_title %}
    ایجاد گروه جدید
{% endblock %}

{% block content %}
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <h2 style="margin-bottom: 30px">گروه جدید</h2>
            <form method="POST" action="/add-group/">
                {% csrf_token %}
                <div class="floating-input form-group">
                    <label for="groupname">نام گروه:</label>
                    <input type="text" class="form-control" name="groupname" placeholder="وارد کردن نام گروه">
                </div>
                <div class="floating-input form-group">
                    <label for="groupusers">نام کاربری اعضا (نام‌های کاربری با - جدا شوند)</label>
                    <input type="text" class="form-control" name="groupusers" placeholder="نام کاربری اعضا">
                </div>
                <div class="floating-input form-group">
                    <button type="submit" class="btn btn-success btn-lg">ایجاد گروه جدید</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}