{% extends "user_base.html" %}
{% load static %}

{% block page_title %}
    گزارش مخارج
{% endblock %}

{% block content %}
    {#    {% for group in groups %}#}
    {#        <p>{{ group }}</p>#}
    {#    {% endfor %}#}
    {% if expenses|length == 0 %}
        <p>تا کنون هیچ خرجی برای شما ثبت نشده است.</p>
    {% else %}
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <!-- <div class="col col-lg-9 col-xl-7"> -->
                <div class="card rounded-3" style="width:100%">
                    <div class="card-body p-4">

                        <table class="table mb-4">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center" style="width: 20%">نام هزینه</th>
                                <th scope="col" class="text-center" style="width: 30%">میزان سهم</th>
                                <th scope="col" class="text-center" style="width: 50%">مشاهده</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in expenses %}
                                <tr>
                                    <th scope="row" class="text-center">{{ item.0.subject }}</th>
                                    <td class="text-center">{{ item.1 }} تومان</td>
                                    <td class="text-center">
                                        <a class="btn btn-info ms-1 text-center"
                                           href="{% url 'expense_detail' item.0.bunch.token_str item.0.token_str %}">مشاهده
                                            هزینه</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    {% endif %}
{% endblock %}