{% extends "user_base.html" %}
{% load static %}

{% block page_title %}
    اضافه کردن هزینه
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <a class="btn col-sm btn-primary" style="margin:10px" href="{% url 'add_expense' token "1" %}"><i
                    class="fa fa-equals"></i>تقسیم مساوی هزینه
                بین افراد گروه</a>
            <a class="btn col-sm btn-primary" style="margin:10px" href="{% url 'add_expense' token "2" %}"><i
                    class="fa fa-dollar-sign"></i>تقسیم هزینه ها با
                مشخص کردن هزینه</a>
            <a class="btn col-sm btn-primary" style="margin:10px" href="{% url 'add_expense' token "3" %}"><i
                    class="fa fa-percentage"></i>تقسیم هزینه ها با مشخص
                کردن درصد</a>
        </div>
    </div>
{% endblock %}